<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
	    <div class="container">
    		<form action="/" method="POST">
    		  <legend>Your e-mail has been verified!</legend>
    		</form>
		</div>
	</div>
</div>
<% include ./partials/footer %>